server {
    listen          80;
    server_name     .crucible.example.com;

    proxy_redirect          off;
    proxy_set_header        Host            $host;
    proxy_set_header        X-Real-IP       $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Accept-Encoding "";

    location /hook/ {
        root /var/www/crucible.example.com/web/;
    }

    location / {
        subs_filter         "</head>"    "<script type=\"text/javascript\" src=\"/hook/hook.pack.js\"></script></head>";

        proxy_pass          http://127.0.0.1:8060;
        break;
    }
}
