body {
    background: #fff;
}
code {
    display:     block;
    background:  #fafafa;
    line-height: 1.5em;
    border:      1px solid #aaa;
    padding:     2px;
}
code span {
}
code span.header {
    color: #4183c4;
}
code span.addition {
    color: #a9ca5f;
}
code span.deletion {
    color: #ff0000;
}
code span.change {
    color: #0086b3
}
